---
layout: default
permalink: /
title: "Genics Blog"

pagination:
  enabled: true
---

<section class="p-6 sm:p-10">
  {% include featured-content.html %}

  <div class="flex flex-col sm:grid sm:grid-cols-2 lg:grid-cols-3 sm:gap-4 md:gap-4 lg:gap-6 text-center">
    {% for post in paginator.posts %}
    {% include postbox.html %}
    {% endfor %}
  </div>
  {% if paginator.total_pages > 1 %}
  <div class="flex justify-center items-center w-full">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="mr-2 px-4 py-0.5 hover:shadow-xl hover:shadow-slate-200 rounded-md bg-background text-white text-lg hover:scale-110 transition underline-none">
      Previous
    </a>
    {% endif %}
    <span>Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="ml-2 px-4 py-0.5 hover:shadow-xl hover:shadow-slate-200 rounded-md bg-background text-white text-lg hover:scale-110 transition underline-none">
      Next
    </a>
    {% endif %}
  </div>
  {% endif %}
</section>