---
layout: page
title: "Topics"
excerpt: "All the categories and tags on which articles at Genics Blog have been written till now."
permalink: /topics
---

<div class="flex justify-center">
    <h1>Series</h1>
</div>

<div class="mt-2 flex flex-col items-center justify-center">
    {% for series in site.series %}
    <a href="{{ site.baseurl }}{{ series.url }}" class="text-lg">{{ series.name }}</a>
    {% endfor %}
</div>

<div class="mt-12 flex justify-center">
    <h1>Categories</h1>
</div>

<div class="mt-2 grid grid-cols-1 sm:grid-cols-2 gap-6 lg:grid-cols-3">
    {% capture categories %}
        {% for category in site.categories %}
            {{ category[0] }}
        {% endfor %}
    {% endcapture %}

    {% assign sortedCategories = categories | split:' ' | sort %}

    {% for category in sortedCategories %}
    <div class="mx-auto">
        <a class="dark:text-black text-xl archive-name !bg-{{ category }} underline-none" href="{{ site.baseurl }}/category/{{ category }}">
            #{{ category }}
        </a>
    </div>
    {% endfor %}
</div>

<div class="mt-12 flex justify-center">
    <h1>Tags</h1>
</div>

<div class="mt-2 grid grid-cols-1 sm:grid-cols-2 gap-6 lg:grid-cols-3">
    {% capture tags %}
        {% for tag in site.tags %}
            {{ tag[0] }}
        {% endfor %}
    {% endcapture %}

    {% assign sortedtags = tags | split:' ' | sort %}

    {% for tag in sortedtags %}
    <div class="mx-auto">
        <a class="dark:text-black text-xl archive-name !bg-{{ tag }} underline-none" href="{{ site.baseurl }}/tag/{{ tag }}">
            #{{ tag }}
        </a>
    </div>
    {% endfor %}
</div>