---
layout: page
title: "Topics"
excerpt: "All the categories and tags on which articles at Genics Blog have been written till now."
permalink: /topics
---

<div class="flex justify-center">
    <h1>Categories</h1>
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
    {% for category in site.categories %}
    <div class="mx-auto">
        <a class="dark:text-black text-xl archive-name !bg-{{ category[0] }} underline-none" href="/category/{{ category[0] }}">
            #{{ category[0] }}
        </a>
    </div>
    {% endfor %}
</div>

<div class="flex justify-center mt-6">
    <h1>Tags</h1>
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 gap-6 md:grid-cols-3">
    {% for tag in site.tags %}
    <div class="mx-auto">
        <a class="dark:text-black text-xl archive-name !bg-{{ tag[0] }} underline-none" href="/tag/{{ tag[0] }}">
            #{{ tag[0] }}
        </a>
    </div>
    {% endfor %}
</div>