{% assign author = site.data.contributors[page.author] %}
{%- capture article_class %}comment bg-white rounded-2xl shadow-xl shadow-slate-200{% if include.is_reply %} ml-14{% else %} mb-2{% endif %}{% endcapture %}
{% assign comment_id = include.id | prepend: 'comment-' %}
<section class="{% if include.is_reply %}mb-2{% else %}mb-8{% endif %}">
  <div class="{{ article_class }} p-8 bg-white">
    <div class="sm:flex sm:items-center">
      {% if include.name == author.name %}
      <img class="rounded-full w-14 h-14 border-4 border-primary"
        src="{{ site.data.contributors[page.author].avatar }}" />
      {% else %}
      <img class="rounded-full w-14 h-14"
      src="https://joeschmoe.io/api/v1/{{ include.name }}" />
      {% endif %}
      <div class="sm:ml-4 leading-3">
        {% if include.name == author.name %}
        <a class="font-extrabold text-xl" href="/author/{{ page.author }}">
          {{ include.name | split:' ' | first }}
        </a>
        <span class="px-2 py-0.5 rounded-md bg-primary text-white text-xs">Author</span>
        {% else %}
        <span class="text-xl">
          {{ include.name }}
        </span>
        {% endif %}
        <br />
        <span class="text-sm">
          {{- include.date | date:"%B %e, %Y" -}}
        </span>
      </div>
    </div>
    <div class="mt-4">
      {{ include.message | strip_html | markdownify }}
    </div>

  {% if include.is_reply %}
</div>
{% else %}

<a rel="nofollow" class="px-2.5 py-1 mt-4 text-sm rounded-md bg-black text-white hover:shadow-lg hover:scale-110 transition underline-none"
  onclick="return addComment.moveForm('{{ comment_id }}', 'respond', '{{ include.id }}')">Reply</a>
</div>
{%- capture this_id %}{{ include.id }}{% endcapture %}
{%- assign replies = site.data.comments[page.slug] | where_exp: "item", "item.replying_to_id == this_id" %}
{%- assign replies_date = replies | sort: 'date' %}
{% for reply in replies_date %}
{%- assign name = reply.name -%}
{%- assign date = reply.date -%}
{%- assign message = reply.message -%}
{%- assign id = reply._id -%}
{% include comment.html is_reply=true id=id name=name date=date message=message %}
{% endfor %}

{% endif %}
</section>
