<div class="comments">
    {% if site.data.comments[page.slug] %}
        {% assign comments = site.data.comments[page.slug] | where_exp: "item", "item.replying_to_id == ''" %}
        {% assign comments_by_date = comments | sort: 'date' | reverse %}

        <div class="mt-5 mb-5">
            {% for comment in comments_by_date %}
                {%- assign id              = comment._id %}
                {%- assign name            = comment.name %}
                {%- assign date            = comment.date %}
                {%- assign message         = comment.message %}
                {% include comment.html is_reply=false id=id replying_to=0 name=name date=date message=message  %}
            {% endfor %}
        </div>
    {% else %}
        <p class="md:text-lg p-6 md:p-8 text-center">No comments here, start the discussion below!</p>
    {% endif %}
</div>

<div id="respond">
    {% include comment-form.html %}
</div>

<script src="{{site.baseurl}}/assets/js/comment.js"></script>