<div class="flex justify-center mx-6 md:mx-10 lg:mx-14">
    <div
        class="grid grid-flow-row sm:grid-flow-col gap-x-8 items-center justify-between bg-white rounded-2xl p-8 md:p-12 shadow-xl shadow-slate-200 w-full">
        <article class="md:mr-4">
            <h3>Get started at Genics Blog!</h3>
            <p>
                Genics Blog is a purely <a href="https://github.com/genicsblog" rel="nofollow noreferrer noopener"
                    target="_blank">open source</a> publication. Authors at Genics post resourceful content on varied topics relevant for the developer community, join us today and start publishing today!
            </p>
        </article>
        <a class="px-4 py-1.5 mt-8 md:mt-0 md:ml-4 rounded-md text-xl bg-black text-white hover:shadow-lg hover:scale-110 transition underline-none text-center"
            href="contribute">
            Contribute
        </a>
    </div>
</div>