<div class="max-w-full pt-1 pb-1 px-2 sm:px-8 lg:px-8 mx-auto">
    <div class="flex justify-between h-16">
        <div class="flex px-2 lg:px-0">
            <a class="flex-shrink-0 flex items-center logo-anchor" href="/">
                <div class="block">
                    <div class="group flex items-center space-x-2 whitespace-nowrap flex-nowrap">
                        <div class="h-12 w-12">
                            <img src="/assets/images/genicsblog.png" class="h-12 w-12 rounded-full" />
                        </div>
                        <span
                            class="font-bold hidden sm:block text-xl tracking-tight text-white group-hover:text-slate-300">
                            Genics Blog</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="flex items-center h-16">
            <div class="hidden lg:block pr-5">
                <a class="nav-item {% if page.url contains '/categories' %}text-slate-400{% else %}text-white{% endif %}"
                    href="/categories">Categories</a>
                <a class="nav-item {% if page.url contains '/about' %}text-slate-400{% else %}text-white{% endif %}"
                    href="/about">About Us</a>
                <a class="nav-item {% if page.url contains '/contact' %}text-slate-400{% else %}text-white{% endif %}"
                    href="/contact">Contact</a>
                <a class="nav-item {% if page.url contains '/advertise' %}text-slate-400{% else %}text-white{% endif %}"
                    href="/advertise">Advertise</a>
                <!-- Docs coming soon -->
                <!--<a class="nav-item {% if page.url contains '/terms' %}text-slate-400{% else %}text-white{% endif %}"
                    href="/terms">T&C</a>-->
            </div>

            <a class="px-2.5 py-1.5 font-bold rounded-md bg-white hover:bg-slate-300 hover:scale-110 transition underline-none"
                href="/contribute">Contribute</a>

            <div class="ml-4 lg:hidden cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 stroke-white hover:stroke-slate-300"
                    id="menu-open" viewBox="0 0 24 24" onclick="toggleNav()">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8h16M4 16h16" />
                </svg>

                <svg xmlns="http://www.w3.org/2000/svg"
                    class="menu-close h-8 w-8 hidden stroke-white hover:stroke-slate-300" id="menu-close"
                    viewBox="0 0 24 24" onclick="toggleNav()">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </div>
        </div>
    </div>
</div>