<header class="bg-background text-white p-6 sm:p-10">
    {% if page.layout != 'post' %}
    <div class="sm:text-center">
        {% if page.title %}
        <h1 class="font-black text-4xl sm:text-5xl tracking-tight text-white group-hover:text-slate-300">
            {{ page.title }}
        </h1>
        {% else %}
        <h1 class="font-black text-4xl sm:text-5xl tracking-tight text-white group-hover:text-slate-300">
            Genics Blog
        </h1>
        {% endif %}
        {% if page.excerpt %}
        {% if page.excerpt != "" %}
        <p class="mt-4">
            {{ page.excerpt }}
        </p>
        {% endif %}
        {% else %}
        <p class="mt-4">
            An
            <span
                class="font-black text-lg bg-gradient-to-r from-sky-300 to-blue-500 text-transparent bg-clip-text">open-source
            </span> developer publication.
        </p>
        {% endif %}
    </div>
    {%else%}
    <div class="grid grid-flow-row lg:grid-flow-col">
        <div class="flex justify-center items-center mb-10 lg:mb-0">
            {% if page.image %}
            <img src="{{ page.image }}" class="w-full max-w-md sm:max-w-lg lg:max-w-lg rounded-xl shadow-xl object-cover" />
            {% endif %}
        </div>
        <div class="flex flex-col justify-center items-center xl:items-start m-12">
            {% if page.title %}
            <h1 class="text-4xl font-black tracking-tighter">{{page.title}}</h1>
            {% endif %}
            {% if page.excerpt %}
            <span class="mt-2">{{ page.excerpt }}</span>
            {% endif %}
        </div>
    </div>
    {% endif %}
</header>