{% assign author = site.data.contributors[page.author]%}
<header class="bg-background text-white p-6 sm:p-10">
    {% if page.layout != 'post' %}
    <div class="sm:text-center">
        {% if page.title %}
        <h1 class="font-black text-4xl sm:text-5xl tracking-tight text-white group-hover:text-slate-300">
            {{ page.title }}
        </h1>
        {% else %}
        <h1 class="font-black text-4xl sm:text-5xl tracking-tight text-white group-hover:text-slate-300">
            Genics Blog
        </h1>
        {% endif %}
        {% if page.excerpt != blank %}
        <p class="mt-4">
            {{ page.excerpt }}
        </p>
        {% else %}
        <p class="mt-4">
            An
            <a class="font-black text-lg bg-gradient-to-r from-sky-300 to-blue-500 text-transparent bg-clip-text after:bg-blue-400"
                href="https://github.com/{{ site.github_username }}" target="_blank">open-source
            </a> developer publication.
        </p>
        {% endif %}
    </div>
    {% else %}
    <div class="grid grid-flow-row lg:grid-flow-col p-2">
        <div class="flex justify-center items-center lg:mb-0">
            {% if page.image %}
            <img src="{{ page.image }}"
                class="w-full sm:max-w-2xl lg:max-w-full xl:max-w-4xl object-cover m-8" />
            {% endif %}
        </div>
        <div class="flex flex-col justify-center lg:items-start lg:ml-12">
            {% if page.title %}
            <h1 class="text-4xl font-black tracking-tighter">{{ page.title }}</h1>
            {% endif %}
            {% if page.excerpt %}
            <span class="mt-0.5 text-justify">{{ page.excerpt }}</span>
            {% endif %}
            {% if page.author %}
            <div class="flex items-center mt-8">
                <img class="rounded-full w-14 h-14" src="{{ author.avatar }}" />
                <div class="ml-4 leading-3">
                    <a class="font-extrabold text-xl" href="/author/{{ page.author }}">
                        {{ author.name }}
                    </a><br />
                    <span class="text-sm">
                        Posted on {{ page.date | date:"%B %e, %Y" }}
                    </span>
                </div>
            </div>
            {% endif %}
            {% if page.category %}
            <div class="mt-8">
                <span>Category: </span>
                {% for category in page.categories %}
                <a class="text-sm ml-2 hover:scale-110 category-name !bg-{{ category }} underline-none"
                    href="/category/{{ category }}">#{{ category }}</a>
                {% endfor %}
            </div>
            {% endif %}
            {% assign tagSize = page.tags | size %}
            {% if tagSize != 0 %}
            <div class="mt-1">
                <span>Tags: </span>
                {% for tag in page.tags %}
                {% assign tagName = tag | slugify %}
                <a class="text-sm ml-2 hover:scale-110 tag-name !bg-{{ tagName }} underline-none"
                    href="/tag/{{ tagName }}">#{{
                    tagName }}</a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
</header>