<div class="hidden fixed top-0 left-0 flex justify-center items-center w-full h-full backdrop-blur-md shadow-md z-20"
    id="modal">
    <div
        class="p-4 bg-white w-5/6 sm:w-3/4 lg:w-1/2 content-center rounded-lg shadow-lg shadow-slate-200 cursor-auto">
        <div class="flex justify-between">
            <span class="text-xl md:text-2xl" id="modal-title">Comment submitted!</span>
            <button id="close" aria-label="Close modal">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 sm:h-8 sm:w-8" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>
        <p class="mt-6" id="modal-message"></p>
    </div>
</div>