---
---
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        -webkit-tap-highlight-color: transparent;
    }
    body {
        @apply bg-slate-50;
        font-family: "Sen", sands-serif;
    }
    h1, h2, h3, h4, h5, h6 {
        @apply font-black tracking-tight mb-4;
    }
    h1 {
        @apply text-4xl;
    }
    h2 {
        @apply text-3xl;
    }
    h3 {
        @apply text-2xl;
    }
    h4 {
        @apply text-xl;
    }
    h5 {
        @apply text-lg;
    }
    h6 {
        @apply text-base;
    }
    img {
        @apply rounded-xl;
    }
    article img {
        @apply mx-auto;
    }
    article {
        @apply overflow-auto;
    }
    table {
        @apply mb-6 w-full rounded-xl bg-slate-200;
    }
    thead {
        @apply bg-slate-400;
    }
    tbody tr:nth-child(even) {
        @apply rounded-md;
    }
    td, th {
        @apply px-2 py-1 text-center;
    }
    ul li {
        @apply list-disc list-outside ml-12;
    }
    ol li {
        @apply list-decimal list-outside ml-12;
    }
    strong {
        @apply tracking-tighter;
    }
    details {
        @apply mb-6;
    }
    nav, footer {
        @apply bg-background;
    }
    footer {
        @apply text-white;
    }
    footer a {
        @apply font-bold hover:text-slate-300;
    }
    a {
        @apply inline-block relative cursor-pointer;
    }
    a:after {
        @apply absolute bg-slate-300 w-full left-0 right-0 bottom-0 h-0.5 origin-bottom-right;
        content: "";
        transform: scaleX(0);
        transition: transform 0.25s ease-out;
    }
    a:hover:after {
        @apply origin-bottom-left;
        transform: scaleX(1);
    }
    article > p, li, blockquote, pre.highlight {
        @apply mb-6;
    }
    article a, aside a, .notice a {
        @apply text-primary;
    }
    article a:after, aside a:after, .notice a:after {
        @apply bg-primary;
    }
    hr {
        @apply w-11/12 mb-6 mx-auto rounded-lg border-t-4 border-gray-200 bg-slate-200;
    }
    blockquote {
        @apply bg-slate-200 rounded-xl border-l-4 border-slate-400 p-6;
    }
    code {
        @apply bg-slate-200 py-0.5 px-1.5 rounded-md text-sm;
        font-family: "Fira Code", sans-serif;
    }
    pre {
        @apply bg-slate-800 rounded-xl text-sm text-[#b5c4f2] p-4 overflow-x-scroll;
    }
    pre > code {
        @apply bg-slate-800;
    }
}

.nav-item {
    @apply mx-2 font-bold hover:text-slate-300;
}

.mobile-nav-item {
    @apply p-2 flex rounded-md hover:bg-gray-700;
}

.mobile-nav-item:after, .header-anchor:after, .logo-anchor:after, .underline-none:after {
    @apply w-0;
}

.mobile-nav-item span {
    @apply font-medium text-slate-300 mx-auto;
}

.search-item {
    @apply m-2 p-2 cursor-pointer flex border-4 border-transparent hover:rounded-md hover:border-slate-200;
}

.social-image {
    @apply rounded-none;
}

.emoji {
    @apply inline-block;
}

.lang-name {
    @apply rounded-sm py-0.5 text-xs px-1 bg-slate-300 text-slate-800 absolute right-2 top-2;
}

.category-name, .tag-name {
    @apply rounded-md px-2 py-1 hover:underline hover:shadow-md hover:scale-110 transition bg-slate-200 text-black;
    font-family: "Fira Code", monospace;
}

.postbox {
    @apply hover:border-black;
}

.disabled {
    @apply opacity-40 cursor-auto hover:!scale-100 hover:!shadow-none;
}