---
---
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
    --theme-color: #16161f;
}

body {
    font-family: "Sen", sands-serif;
}

nav, footer {
    background-color: var(--theme-color);
}

footer {
    @apply text-white;
}

footer a {
    @apply underline hover:text-slate-300;
}

.nav-item {
    @apply cursor-pointer px-2 font-bold text-white hover:text-slate-300 hover:underline;
}

.mobile-nav-item {
    @apply p-2 flex rounded-md hover:bg-gray-700;
}

.mobile-nav-item span {
    @apply font-medium text-slate-300 mx-auto;
}

article p, pre {
    @apply mb-6;
}

.highlighter-rouge {
    @apply bg-slate-200 py-1 px-1 rounded-md;
    font-family: "Fira Code", sands-serif;
}

pre {
    @apply bg-slate-800 rounded-lg;
}