<!DOCTYPE html>
<html lang="en">

<head>
    {% include seo.html %}
</head>

<body>

    <nav>
        {% include nav.html %}
    </nav>

    <header class="bg-background text-white p-6 sm:p-10">
        <div class="sm:text-center">
            <h1 class="font-black text-4xl sm:text-5xl tracking-tight text-white group-hover:text-slate-300">
                {{ site.data.contributors[page.author].name }}
            </h1>
        </div>
    </header>

    {% include footer.html %}

</body>
{% include scripts.html %}
</html>