<!DOCTYPE html>
<html lang="en">
{% assign contributor = site.data.contributors[page.name] %}

<head>
    {% include headtags.html %}
    <title>{{ contributor.name }} | {{ contributor.role }}</title>
</head>

<body>

    {% include nav.html %}

    <header class="bg-background text-white p-6 sm:p-10" id="banner">
        <div class="flex flex-col items-center">
            <img src="{{ contributor.avatar }}" class="w-28 h-28 sm:w-36 sm:h-36 rounded-full" />
            <span
                class="mt-4 mb-1 font-black text-4xl sm:text-5xl tracking-tight text-white group-hover:text-slate-300">
                {{ contributor.name }}
            </span>
            <h4>
                {{ contributor.role }}
            </h4>
            <p class="mt-2">
                {{ contributor.bio }}
            </p>
            {% assign links = contributor.links %}
            <div class="grid grid-flow-col justify-center gap-6 items-center mt-6">
                {% if links.stackoverflow != blank %}
                <a class="underline-none hover:scale-125 transition" rel="nofollow noopener noreferrer"
                    href="https://stackoverflow.com/users/{{ links.stackoverflow }}" target="_blank">
                    <img src="/assets/images/social/stackoverflow.svg" class="social-image w-10 h-10" />
                </a>
                {% endif %}
                {% if links.github != blank %}
                <a class="underline-none hover:scale-110 transition" href="https://github.com/{{ links.github }}"
                    target="_blank" rel="nofollow noopener noreferrer">
                    <img src="/assets/images/social/github.svg" class="social-image w-10 h-10" />
                </a>
                {% endif %}
                {% if links.linkedin != blank %}
                <a class="underline-none hover:scale-125 transition" href="https://linkedin.com/{{ links.linkedin }}"
                    target="_blank" rel="nofollow noopener noreferrer">
                    <img src="/assets/images/social/linkedin.svg" class="social-image w-10 h-10" />
                </a>
                {% endif %}
                {% if links.twitter != blank %}
                <a class="underline-none hover:scale-125 transition" href="https://twitter.com/{{ links.twitter }}"
                    target="_blank" rel="nofollow noopener noreferrer">
                    <img src="/assets/images/social/twitter.svg" class="social-image w-10 h-10" />
                </a>
                {% endif %}
                {% if links.instagram != blank %}
                <a class="underline-none hover:scale-125 transition" href="https://instagram.com/{{ links.instagram }}"
                    target="_blank" rel="nofollow noopener noreferrer">
                    <img src="/assets/images/social/instagram.svg" class="social-image w-10 h-10" />
                </a>
                {% endif %}
                {% if links.youtube != blank %}
                <a class="underline-none hover:scale-125 transition" href="https://youtube.com/{{ links.youtube }}"
                    target="_blank" rel="nofollow noopener noreferrer">
                    <img src="/assets/images/social/youtube.svg" class="social-image w-14 h-14" />
                </a>
                {% endif %}
            </div>
        </div>
    </header>

    <main>
        <section class="p-6 sm:p-10">
            {% assign posts = site.posts | where_exp:"item", "item.contributor == page.contributor"%}
            {% assign arrSize = posts | size %}
            {% if arrSize > 0 %}
            <div class="flex flex-col sm:grid sm:grid-cols-2 lg:grid-cols-3 sm:gap-4 md:gap-4 lg:gap-6 text-center">
                {% for post in posts %}
                {% include postbox.html %}
                {% endfor %}
            </div>
            {% else %}
            <div class="text-center text-xl">
                No posts yet.
            </div>
            {% endif %}
        </section>
        <br />
        {% include infeed-ad.html %}
        <br />
    </main>

    {% include footer.html %}
    {% include search.html %}
    {% if page.layout == "post" and page.comments != false %}
    {% include modal.html %}
    {% endif %}
    {% include scripts.html %}
</body>

</html>