---
layout: default
---

<section class="lg:flex">

  <div
    class="bg-white rounded-2xl shadow-xl shadow-slate-200 md:text-lg m-6 md:m-10 lg:m-14 lg:w-full lg:max-w-[65%] xl:max-w-[70%]">
    {% if page.notice != blank or page.original != blank or page.series != blank %}
    <div class="notice w-full px-4 py-2 rounded-tl-2xl rounded-tr-2xl bg-slate-200 space-y-4">
      {% if page.original != blank %}
      {% assign host = page.original | hostname %}
      <span class="text-base italic leading-8">
        Originally published at
        <a href="{{ page.original }}" target="_blank" rel="nofollow noopener noreferrer">{{ host }}</a>.
      </span>
      {% endif %}
      {% if page.series %}
      <span class="text-base leading-8">
        This post is a part of the series <a href="/series/{{ page.series }}" target="_blank">{{ page.series | split:"-" | join:" " | capitalize_all }}</a>
      </span>
      {% endif %}
      {% if page.notice != blank %}
      {% if page.series != blank %}<br />{% endif %}
      <span class="text-base leading-8">
        {{ page.notice | markdownify }}
      </span>
      {% endif %}
    </div>
    {% endif %}
    <article class="p-6 md:p-8">
      {{ content | extlinks }}
    </article>
    <hr />
    <div class="px-6 pb-6 md:px-8 md:pb-8 flex flex-col items-center rounded-bl-2xl rounded-br-2xl">
      <p class="text-center mb-4">Did you learn something new?<br />Comment down below and spread the word!</p>
      <div class="grid grid-flow-col gap-4">
        <a class="underline-none hover:scale-125 transition" rel="nofollow noopener noreferrer" href="https://stackoverflow.com/users/{{ links.stackoverflow }}" target="_blank">
          <img src="/assets/images/social/linkedin.svg" class="social-image w-8 h-8" />
        </a>
        <a class="underline-none hover:scale-125 transition" rel="nofollow noopener noreferrer" href="https://stackoverflow.com/users/{{ links.stackoverflow }}" target="_blank">
          <img src="/assets/images/social/twitter.svg" class="social-image w-8 h-8" />
        </a>
      </div>
    </div>
  </div>
  {% assign author = site.data.contributors[page.author] %}
  <aside class="m-6 md:m-10 lg:my-14 lg:mr-10 lg:-ml-4 md:mr-8 lg:max-w-[25%] xl:max-w-[20%]">
    <figure class="bg-white rounded-2xl p-6 md:p-8 shadow-xl shadow-slate-200">
      <img class="w-24 h-24 rounded-full mx-auto" src="{{ site.data.contributors[page.author].avatar }}" alt="">
      <div class="pt-4 space-y-4">
        <figcaption class="font-medium text-center">
          <div>
            <a href="/contributor/{{ page.author }}" class="text-xl font-bold">
              {{ author.name }}
            </a>
          </div>
          <div class="text-gray-700 text-sm">
            {{ author.role }}
          </div>
        </figcaption>
        <p class="leading-5 font-medium text-justify">
          {{ author.bio }}
        </p>
      </div>
    </figure>
    {% if page.contributors %}
    <figure class="bg-white rounded-2xl p-4 shadow-xl shadow-slate-200 mt-8">
      <div class="space-y-4">
        <figcaption class="font-medium">
          <div class="text-center">
            <span class="text-xl font-bold">
              Contributors
            </span>
          </div>
          <div class="mt-4 text-base">
            {% for person in page.contributors %}
            {% assign contributor = site.data.contributors[person.name] %}
            <a href="/contributor/{{ person.name }}">{{ contributor.name }}</a> ({{ person.role }})<br />
            {% endfor %}
          </div>
        </figcaption>
      </div>
    </figure>
    {% endif %}
    <figure class="bg-white rounded-2xl p-6 md:p-8 shadow-xl shadow-slate-200 lg:sticky lg:top-24 mt-8">
      {% include display-ad.html %}
      {% if page.sitemap == false%}
      <h4>This is a draft preview!</h4>
      Anyone with the link can read this draft, but not search engines :)
      <br /><br />
      Wanna publish content at Genics Blog?
      <div class="flex justify-center">
        <a
          class="px-3 py-1 mt-4 rounded-md bg-black text-white hover:shadow-lg hover:scale-110 transition underline-none text-center"
          href="https://docs.genicsblog.com/author">
          Become an Author >
        </a>
      </div>
      {% endif %}
    </figure>
  </aside>
</section>

{% include infeed-ad.html %}

{% if page.comments != false and page.sitemap != false %}
<h1 class="mx-8 md:mx-10 lg:mx-14 -mb-4 lg:-mb-8">Comments</h1>

<section class="block lg:flex">
  <div class="md:text-lg m-6 md:m-10 lg:m-14 lg:w-full lg:max-w-[65%] xl:max-w-[70%]">
    {% include comments.html %}
  </div>
  <aside class="m-8 md:m-10 lg:my-14 lg:mr-10 lg:-ml-4 md:mr-8 lg:max-w-[25%] xl:max-w-[20%]">
    <div class="p-6 md:p-8  space-y-4 lg:sticky lg:top-24 rounded-2xl bg-white shadow-xl shadow-slate-200">
      <p class="leading-5 font-medium text-justify">
        Please adhere to our <a href="/code-of-conduct">Code of Conduct</a> while adding a comment. Respect other's opinion.
        <br /><br />
        Comments are be moderated before being published.
      </p>
    </div>
  </aside>
</section>
{% endif %}

{% include infeed-ad.html %}
