<!DOCTYPE html>
<html lang="en">

<head>
    {% include headtags.html %}
    <title>Posts in series - {{ page.title }}</title>
</head>

<body>

    {% include nav.html %}

    <header class="bg-background text-white p-6 sm:p-10" id="banner">
        <div class="flex flex-col lg:flex-row p-2">
            <div class="flex justify-center items-center lg:w-1/2 md:mb-0">
                {% if page.image %}
                <img src="{{ page.image }}" class="w-full md:w-3/4 lg:w-full rounded-xl shadow-xl aspect-video m-8" />
                {% endif %}
            </div>
            <div class="flex flex-col justify-center lg:items-start w-full lg:w-1/2 lg:ml-12">
                {% if page.title %}
                <h1 class="text-4xl font-black tracking-tight">{{ page.title }}</h1>
                {% endif %}
                {% if page.excerpt %}
                <span class="mt-0.5 text-justify">{{ page.excerpt }}</span>
                {% endif %}
            </div>
        </div>
    </header>
    {% assign series = page.path | split:"/" | last | split:"." | first %}
    <main>
        <section class="p-6 sm:p-10">
            {% assign posts = site.posts | where_exp:"item", "item.series == series" %}
            {% assign arrSize = posts | size%}
            {% if arrSize > 0 %}
            <div class="flex flex-col sm:grid sm:grid-cols-2 lg:grid-cols-3 sm:gap-4 md:gap-4 lg:gap-6 text-center">
                {% for post in posts %}
                {% include postbox.html %}
                {% endfor %}
            </div>
            {% else %}
            <div class="text-center text-xl">
                No posts in this series yet.
            </div>
            {% endif %}
        </section>
    </main>

    {% include footer.html %}
    {% include search.html %}
    {% if page.layout == "post" and page.comments != false %}
    {% include modal.html %}
    {% endif %}
    {% include scripts.html %}
</body>

</html>