name: Publish site

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Checkout theme-files repo
      uses: actions/checkout@v2
      with:
        repository: genicsblog/theme-files
        path: theme

    - name: Setup theme and necessary files
      run: |
        mv theme/* .
        rm -rf theme
        touch .nojekyll
        echo "google.com, pub-8114751086331659, DIRECT, f08c47fec0942fa0" >> ads.txt

    - uses: dorny/paths-filter@v2
      id: changes
      with:
        filters: |
          files:
            - '_data/**'
            - '_drafts/**'
            - '_pages/**'
            - '_posts/**'
            - '_series/**'
            - '_tools/**'
            - '_config.yml'

    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.7.5
        bundler-cache: true

    - uses: actions/setup-node@v2
      with:
        node-version: '16'

    - name: Install npm dependencies
      if: steps.changes.outputs.files == 'true'
      run: npm install

    - name: Build production jekyll site
      if: steps.changes.outputs.files == 'true'
      run: JEKYLL_ENV=production NODE_ENV=production bundle exec jekyll build

    - name: Deploy to gh-pages
      if: steps.changes.outputs.files == 'true'
      uses: s0/git-publish-subdir-action@develop
      env:
        REPO: self
        BRANCH: gh-pages
        FOLDER: _site
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
